################################################################################
# Ten plik .gitignore został utworzony automatycznie przez Microsoft(R) Visual Studio.
################################################################################

/.vs
/Inventory/.vs
/Inventory/Inventory/obj
/Inventory/Inventory/bin
/Inventory/Inventory/Properties
/Inventory/Inventory/Database/db_Inventory_log.ldf
/Inventory/Inventory/Database/db_Inventory.mdf
