################################################################################
# Ten plik .gitignore został utworzony automatycznie przez Microsoft(R) Visual Studio.
################################################################################

/.vs
/Inventory/.vs/Inventory/v17
/Inventory/Inventory/obj
